body{
    background-color: darkgray;
}

.topcontainer{
    padding-top: 30px;
    margin-left: 30px;
}
.topcontainer-timer{
    float: right;
    padding-right: 30px;
}

.timer{
    text-align: center;
    /* height: 100px;
    background-color: aqua; */
}
.timer-text{
    background-color: rgb(185, 113, 4);
}
.points{
    text-align: end;
    padding-right: 45px;
}
.text{
    padding-top: 20px;
}

.body{
    background-color: cadetblue;
}

.container {
    display: grid;
    margin: 12vh auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80vw;
    height: 40vw;
    background-color: #f0ead6;
    padding-top: 20px;
  }
  
  .card-header {
    display:block;
    margin: auto;
    width: 300px;
    height: 200px;
    padding-bottom: 40px;
  }
  
  .quiz-btn.btn {
    font-size: 15px;
    width: 155px;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
  .btn:hover {
    color: white;
    background-color: lightseagreen;
}

.btn{
    font-size: 15px;
    width: 90px;
    height: 50px;
}
  .button-container {
    text-align: center;
    margin-top: 20px;
}

  /* Media Queries for Responsive Design */
@media (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    .container {
        font-size: 1rem;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    /* Styles for screens between 601px and 900px */
    .container {
        font-size: 1.2rem;
    }
}
